R_bunseki/results/eval-a/
R_bunseki/results/eval-v/
R_bunseki/results/eval-int/
L_bunseki/results/eval-a/
L_bunseki/results/eval-v/
L_bunseki/results/eval-int/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-LR/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L-win15/