R_bunseki/results/eval-a/
R_bunseki/results/eval-v/
R_bunseki/results/eval-int/
L_bunseki/results/eval-a/
L_bunseki/results/eval-v/
L_bunseki/results/eval-int/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-LR/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L-win15/
R_bunseki/results/eval-a-90/
R_bunseki/results/eval-v-90/
R_bunseki/0707-trend_analysis/R_eval-A-per_audio-R-win15/
R_bunseki/0707-trend_analysis/R_eval-V-per_audio-R-win15/
0720/LR_bunseki/data/
0720/LR_bunseki/results/