R_bunseki/results/eval-a/
R_bunseki/results/eval-v/
R_bunseki/results/eval-int/
L_bunseki/results/eval-a/
L_bunseki/results/eval-v/
L_bunseki/results/eval-int/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-L/
L_bunseki/0707-trend_analysis/L_eval-V-str_audio-LR/
L_bunseki/0707-trend_analysis/L_eval-V-per_audio-L-win15/
R_bunseki/results/eval-a-90/
R_bunseki/results/eval-v-90/
R_bunseki/0707-trend_analysis/R_eval-A-per_audio-R-win15/
R_bunseki/0707-trend_analysis/R_eval-V-per_audio-R-win15/
0720/LR_bunseki/data/Scripts/
0720/LR_bunseki/data/Segments/
0720/LR_bunseki/data/delta_L.csv
0720/LR_bunseki/data/delta_R.csv
0720/LR_bunseki/results/eval_q/
0720/LR_bunseki/data/vad_delta_L_no_abs.csv
0720/LR_bunseki/data/vad_delta_R_no_abs.csv
0720/LR_bunseki/data/ogvc/OGVC_VAD_bulk.csv
0720/LR_bunseki/data/ogvc/